{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TiendaPazajera</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" href="{% static '/css/flex-slider.css' %}">
    <link rel="stylesheet" href="{% static '/css/headerNav.css' %}">    
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="{% static '/js/main.js' %}"></script>
</head>
<header>
    <nav id="nav">
        <div class="xlogo">
            <a href="{% url 'pag_principal' %}" class="xhome-link">
                <img src="{% static '/img/1.jpg' %}" alt="logo">
            </a>
           <h1>TiendaPazajera</h1>
        </div>

        <div class="xbar" id="xbar">
            {% if user.is_authenticated %}
            <a >  
            </a>
            <a href="{% url 'password_change' %}" class="xbar-item">
                <div class="xbar-box">{{ user.username }}</div>
            </a>
                {% if user.is_authenticated and user.usuario_administrador == True %}
                    <a href="{% url 'registro_productos' %}" class="xbar-item">
                        <div class="xbar-box">Gestion de productos</div>
                    </a>
                {% else %}
                    <a href="{% url 'listar_productos' %}" class="xbar-item">
                        <div class="xbar-box">Buscar Productos</div>
                    </a>
                {% endif %}
            <a href="{% url 'logout' %}" class="xbar-item">
                <div class="xbar-box">Cerrar Sesión</div>
            </a>
            {% else %}
            <a >   
            </a>
            <a>   
            </a>
            <a href="{%url 'registro_usuario' %}"   method = "get" class="xbar-item">
                <div class="xbar-box">Registrarme</div>
            </a>
            <a href="{%url 'login' %}" method= "get" class="xbar-item">
                <div class="xbar-box">Iniciar Sesión</div>
            </a>
            {% endif %}
        </div>

        <button type="button" id="xresponsive-menu"><span class="icon-menu"></span></button>
    </nav>
</header>
</html>