{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TiendaPazajera</title>
	<link rel="shortcut icon" href="{% static '/img/shortcut.jpg' %}"> 
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" href="{% static '/css/flex-slider.css' %}">
    <link rel="stylesheet" href="{% static '/css/imagenes.css' %}">
	<link rel="stylesheet" href="{% static '/css/headerNav.css' %}"> 
	<link rel="stylesheet" href="{% static '/css/footer.css' %}">
	<link rel="stylesheet" href="{% static '/css/fontello.css' %}">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static '/css/carrusel.css' %}">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="{% static '/js/main.js' %}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body> 
    <header>
		{% include "HeaderNav.html" %}
		<div  class="flexslider">
			<ul class="slides">
				<li>
					<img src="{% static '/img/icono.jpg' %}" alt="" class="img-fluid"/>
					
				</li>
			</ul>
		</div>
    </header>
    <section>
		    <div>
				
				<div class="imagenes">
					<div id="myCarousel" class="carousel slide" data-ride="carousel">
						<!-- Indicators -->
						<ol class="carousel-indicators">
							<p></p>
						  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						  <li data-target="#myCarousel" data-slide-to="1"></li>
						  <li data-target="#myCarousel" data-slide-to="2"></li>
						  <li data-target="#myCarousel" data-slide-to="3"></li>
						  <li data-target="#myCarousel" data-slide-to="4"></li>
						</ol>
						<!-- Wrapper for slides -->
						<div class="carousel-inner" role="listbox">
						  <div class="item active">
							<a href="https://www.instagram.com/p/CC9BbiRl8OE/" target="_blank" tabindex="0"> <img src="{% static '/img/gorros-1.jpg' %}" alt="Chania"></a>
						  </div>
					
						  <div class="item">
							<a href="https://www.instagram.com/p/CFaRSCHlLHf/" target="_blank" tabindex="0"> <img src="{% static '/img/gorros-2.jpg' %}" alt="Chania" width="460" height="345"></a>
						  </div>
						
						  <div class="item">
							<a href="https://www.instagram.com/p/CFNLHBoFe0t/" target="_blank" tabindex="0"> <img src="{% static '/img/gorros-3.jpg' %}" alt="Chania" width="460" height="345"></a>
						  </div>
					
						  <div class="item">
							<a href="https://www.instagram.com/p/CC9Bq6SlJ6q/" target="_blank" tabindex="0"> <img src="{% static '/img/gorros-4.jpg' %}" alt="Chania" width="460" height="345"></a>
						  </div>
						  <div class="item">
							<a href="https://www.instagram.com/p/CC9B4WPF7vU/" target="_blank" tabindex="0"> <img src="{% static '/img/gorros-5.jpg' %}" alt="Chania" width="460" height="345"></a>
						  </div>
						</div>
						<!-- Left and right controls -->
						<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
						  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						  <span class="sr-only">Previous</span>
						</a>
						<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
						  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						  <span class="sr-only">Next</span>
						</a>
					  </div>
				</div>
                >				
				<a href="https://www.instagram.com/p/B9KHa-jnzPP/" target="_blank" tabindex="0"> <img src="{% static '/img/blusa-1.jpg' %}" alt=""></a>
				<a href="https://www.instagram.com/p/B9KGfgFHChl/" target="_blank" tabindex="0"> <img src="{% static '/img/blusa-2.jpg' %}" alt=""></a>
				<a href="https://www.instagram.com/p/B9KGJf-nyz1/" target="_blank" tabindex="0"> <img src="{% static '/img/blusa-3.jpg' %}" alt=""></a>
				<a href="https://www.instagram.com/p/B9KGArVHAUX/" target="_blank" tabindex="0"> <img src="{% static '/img/blusa-4.jpg' %}" alt=""></a>
				<a href="https://www.instagram.com/p/B9KFXFqnwah/" target="_blank" tabindex="0"> <img src="{% static '/img/pantalon-1.jpg' %}" alt=""></a>
				<a href="https://www.instagram.com/p/B9KFOoxHGdy/" target="_blank" tabindex="0"> <img src="{% static '/img/pantalon-2.jpg' %}" alt=""></a>
				<a href="https://www.instagram.com/p/B9KFGEQH5Um/" target="_blank" tabindex="0"> <img src="{% static '/img/blusa-5.jpg' %}" alt=""></a>
				<a href="https://www.instagram.com/p/B9KEt6THm1L/" target="_blank" tabindex="0"> <img src="{% static '/img/polera-1.jpg' %}" alt=""></a>
				<a href="https://www.instagram.com/p/B9C-Am9nV2F/" target="_blank" tabindex="0"> <img src="{% static '/img/polera-2.jpg' %}" alt=""></a>
				<a href="https://www.instagram.com/p/B9C9HbmHPmo/" target="_blank" tabindex="0"> <img src="{% static '/img/vestido-1.jpg' %}" alt=""></a>
				<a href="https://www.instagram.com/p/B9C8x9jH_tY/" target="_blank" tabindex="0"> <img src="{% static '/img/poleron-1.jpg' %}" alt=""></a>
				<a href="https://www.instagram.com/p/B9C8j6hnvro/" target="_blank" tabindex="0"> <img src="{% static '/img/poleron-2.jpg' %}" alt=""></a>
				<a href="https://www.instagram.com/p/B9C8YdqHx44/" target="_blank" tabindex="0"> <img src="{% static '/img/poleron-3.jpg' %}" alt=""></a>
				<a href="https://www.instagram.com/p/B9C78AsHjTM/" target="_blank" tabindex="0"> <img src="{% static '/img/vestido-2.jpg' %}" alt=""></a>
            </div>
		</div>
    </section>
		<footer class="container-fluid p-0">
			<div class="container text-justify">
				<div class="xfoot-content">
					<div class="xsocial">
						<a href="https://www.instagram.com/tiendapazajera/" target="_blank"><span class="icon-instagram"></span></a>
					</div>
				</div>
			</div>
			<div class="footer-copyright text-center py-3 xcopy">© Pazajera 
				<a href="https://mdbootstrap.com/education/bootstrap/"></a>
			  </div>
		</footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{% static '/js/jquery.flexslider.js' %}"></script>
	<script srC="{% static '/js/sliderOptions.js' %}"></script>
	<script src="{% static '/js/carrusel.js' %}"></script>
</body>
</html>